---
import HomeIcon from "@/icons/HomeIcon.astro";
import LibraryIcon from "@/icons/LibraryIcon.astro";
import SearchIcon from "@/icons/SearchIcon.astro";
import SideMenuItem from "./SideMenuItem.astro";
import SideMenuCard from "./SideMenuCard.astro";
import { playlists } from "@/lib/data";

const sides1 = [
  { href: "/", icon: HomeIcon, text: "Inicio" },
  { href: "/#", icon: SearchIcon, text: "Buscar" },
];
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="rounded-lg bg-zinc-800 p-2">
    <ul class="flex flex-col gap-4 font-medium">
      {
        sides1.map((side) => (
          <SideMenuItem href={side.href}>
            <side.icon />
            {side.text}
          </SideMenuItem>
        ))
      }
    </ul>
  </div>

  <div class="rounded-lg bg-zinc-800 p-2 flex-1">
    <SideMenuItem href="/#">
      <LibraryIcon />
      Tu Biblioteca
    </SideMenuItem>
    <ul class="flex flex-col gap-2 font-medium mt-2">
      {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>
